
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/* Small screens (default) */
html { font-size: 100%; }
 
/* Medium screens (640px) */
@media (min-width: 40rem) { 
  html { font-size: 118%; }
}
 
/* Large screens (1024px) */
@media (min-width: 64rem) { 
  html { font-size: 125%; }
}



body {
	background-color: rgb(35, 31, 32);
	font-family: 'Open Sans', sans-serif;
/*	font-family: Arial, sans-serif;*/
    font-size: 14px;

	padding: 0 0 0 0;
    margin: 0 auto;
    color: #DDD;
}

h1, h2 {
	font-family: 'Droid Serif', serif;
    font-size: 1.6em;
    font-weight: normal;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 100%;
    font-size: 1.2em;
    padding: 2px;
    font-family: 'Ubuntu Mono', 'Courier New', 'Courier', monospaced;
}

textarea {
  width: 100%;
  height: 400px;
  font-size: 1.0em;
  font-family: 'Ubuntu Mono', 'Courier New', 'Courier', monospaced;
}

input[type=submit] {
  font-size: 24px;
}

hr {
	border: 0;
	border-top: 1px solid #ddd;
	margin: 2rem auto;
	width: 3rem;
}

code{
	font-family: 'Ubuntu Mono', 'Courier New', 'Courier', monospaced;
	background-color: #181818;
	padding: 2px 5px 2px 5px;  
}

iframe{
    display: block;
	text-align: center;
}





.content {
    max-width: 920px;
    margin: 0 auto;
}

.title-bar{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4581A7), color-stop(1, #234668) );
    box-shadow: 0px 0px 10px 1px #000;
	padding: 10px;
}

.main-title {
	font-family: 'Droid Serif';
    display: block;
    color: #EEE;
    
    text-shadow: 0px 0px 5px #000;
    
    font-size: 4.0em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.sub-title{
    font-size: 1.7em;
    
    display: block;
	text-align: center;
}

.button-row{
	/* border-top: 2px inset #468dcf; */
	border-spacing: 2px;
	text-align: center;
	padding:  0.8em 0em 0.8em 0em;
	
	font-size: 0px;
}

.button-row + .button-row {
	margin-left: 25px;
}

.main-button{
	-moz-box-shadow: inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow: inset 0px 1px 0px 0px #bee2f9;
	box-shadow: inset 0px 1px 0px 0px #bee2f9;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468dcf) );
	background: -moz-linear-gradient( center top, #63b8ee 5%, #468dcf 100% );
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468dcf');
	/* background-color: #63b8ee;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px; */
	text-indent: 0;
	border: 1px solid #3866a3;
	display: inline-block;
	color: #14396a;
	font-family: Arial;
	font-size: 0.9rem;
	font-weight: bold;
	font-style: normal;
	height: 1.8em;
	line-height: 1.8em;
	width: 5em;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #7cacde;
}
.main-button:first-child {
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
}
.main-button:last-child {
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
}

.main-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468dcf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468dcf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468dcf', endColorstr='#63b8ee');
	background-color:#468dcf;
}
.main-button:active {
	position:relative;
	top:1px;
}




.post {
	margin: 0px 10px 0px 10px;
    margin-top: 15px;
}

.post-heading {
	font-family: 'Droid Serif', serif;
    border: 0px 10px 0px 10px;
}

.post-title {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 2px solid #448;
}

.post-date, .tag-list {
	display: inline-block;
    font-size: 0.8rem;
	padding-top: 2px;
    color: #999;
}

.tag {
	display: inline;
}

.tag + .tag {
	margin-left: 5px;
	display: inline;
}

.post-date {
	float: right;
}




.post-content {
    font-size: 1.0rem;
    color: #CCC;
    margin-top: 5px;
    padding: 0.8em;
/* 	    column-count: 2; */
/* 		column-gap: 1em;	 */
/* 		-moz-column-count: 2; */
/* 		-moz-column-gap: 1em; */
/* 		-webkit-column-count: 2; */
/* 		-webkit-column-gap: 1em; */
}

.preview{
	width:100%;
	background-color: #AAA;
	min-height: 120px
}

.footer{
	border-top: 2px solid #448;
	
	font-size: 1.3em;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
    display: block;
    
    padding: 1em;
    margin-bottom: 2em;
}



.youtube {
	margin-right: auto;
	margin-left: auto;
	display:block;
}



.hljs{
    font-size: 1.0rem;
/*     letter-spacing: 0.015em; */
/*     line-height: 110%; */
    padding: 0.5em;
    border: 1px solid #444;
    border-radius: 4px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #181818;
	overflow-x: auto;
	
	/* white-space: pre-wrap;       css-3
	white-space: -moz-pre-wrap;  Mozilla, since 1999
	white-space: -pre-wrap;      Opera 4-6
	white-space: -o-pre-wrap;    Opera 7
	word-wrap: break-word;       Internet Explorer 5.5+ */
}


.hljs>pre{
	margin-top: 0px;
	margin-bottom: 0px;
}


.kn{
	color: royalblue;
}

.s, .se{
	color: green;
}

.o, .c{
	color: grey;
}


a:link {
	text-decoration:none;
	font-style: normal;
	color: white;
}
a:visited {
	text-decoration:none;
	font-style: normal;
	color: white;
}
a:hover {
	text-decoration:none;
	font-style: normal;
	color: grey;
}
a:active {
	text-decoration:none;
	font-style: normal;
	color: white;
}
