.tag-list {
	display: block;
	margin: 0 auto;
	max-width: 80%;
	text-align: center;
}


.tag-long {
	margin: 0 auto;
	text-align: left;
}

.tag-title {
	font-size: 1.2em;
	
	width: 20%;
	height: 100%;
	
	-webkit-border-top-right-radius:12px;
	-moz-border-radius-topright:12px;
	border-bottom-top-radius:12px;
	-webkit-border-top-left-radius:12px;
	-moz-border-radius-topleft:12px;
	border-top-left-radius:12px;
	
	
}

.tag-description {
	font-size: 1.2em;
	
	vertical-align: middle;
	padding: 0.8em;
	
	border:1px solid #444;
	background-color: #181818;
	
	-webkit-border-bottom-left-radius:12px;
	-moz-border-radius-bottomleft:12px;
	border-bottom-left-radius:12px;
	-webkit-border-bottom-right-radius:12px;
	-moz-border-radius-bottomright:12px;
	border-bottom-right-radius:12px;
	-webkit-border-top-right-radius:12px;
	-moz-border-radius-topright:12px;
	border-top-right-radius:12px;
}


.tag-long + .tag-long {
	margin-top: 1em;
}
