<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Fjalla+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700|Roboto+Condensed' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <title>Typecast</title>
</head>

<body>
  <a href="/blog" class="main-title">
    { Typecast }
  </a>
  
  <div class="sub-title">
    The trials and tribulations of a Robotics Engineer
  </div>

  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>

