<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Fjalla+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700|Roboto+Condensed' rel='stylesheet' type='text/css'>
  <!-- <link type="text/css" rel="stylesheet" href="/scripts/highlightjs/styles/monokai_sublime.css" /> -->
  <link type="text/css" rel="stylesheet" href="/scripts/highlightjs/styles/monokai_sublime.css" />
  <link type="text/css" rel="stylesheet" href="/static/buttons.css" />
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <title>So Totally Hacking</title>
  {% endblock %}
</head>

<body>
	<div class="title-bar">
	    <a href="/blog" class="main-title">
	      { So Totally Hacking }
	    </a>
		<div class="sub-title">
		  The Trials and Tribulations of a Robotics Engineer
		</div>
    </div>
	
	<div class="button-row">
		<span class="button-row">
		    <button type="button" class="main-button" onClick="parent.location='/blog'">Home</button>
		    <button type="button" class="main-button" onClick="parent.location='/blog/tags'">Tags</button>
		    <button type="button" class="main-button" onClick="parent.location='/blog/about'">About</button>
		    <button type="button" class="main-button" onClick="parent.location='/blog/contact'">Contact</button>
		</span>
		
		<span class="button-row">
		    <button type="button" class="main-button" onClick="parent.location='/blog/newpost'">Post</button>
		</span>
	</div>
	
	<div class="content">
	{% block content %}
	{% endblock %}
	</div>
	
	<div class="footer">
	Footer!
	<br>
	<img src="/static/drawing.png" alt="Temporary Logo">
	
	</div>
</body>

</html>

