{% extends "base.html" %}

{% block head %}
	{{ super() }}
	<link type="text/css" rel="stylesheet" href="/static/tags-list.css" />
{% endblock %}

{% block content %}
	{{post.render() | safe}}

	<form method="post">
	
		<link type="text/css" rel="stylesheet" href="/static/editor.css" />
		
		<script src="/scripts/pagedown/Markdown.Converter.js"></script>
		<script src="/scripts/pagedown/Markdown.Editor.js"></script>
		<script src="/scripts/pagedown/Markdown.Sanitizer.js"></script>
		<script src="/scripts/pagedown-extra/Markdown.Extra.js"></script>
		<script src="/scripts/highlightjs/highlight.pack.js"></script>
	
		<div class="error">{{error}}</div>
	
		<label>
			<div>Post Key</div> 
			<input type="text" name="post_key"
			placeholder="Post Key" value="{{post.key()}}">
		</label> 
		
		<label>
			<div>Tag Key</div> 
			<input type="text" name="tag_key"
			placeholder="Tag Key" value="">
		</label>
		
		<input type="submit">
		
	</form>


	<script src="/scripts/highlightjs/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}